In [399]:
import pandas as pd
import numpy as np
df = pd.read_csv('videos.csv')

In [400]:
df.head()

,Unnamed: 0,videoId,publishedAt,title,tags,duration,viewCount,likeCount,commentCount
0,0,DPHJ2UL5B8s,2023-06-16T15:01:18Z,First & Last Goals Scored Under LEGENDARY Prem...,"['legendary Premier League managers', 'Premier...",PT8M44S,29396,833,46
1,1,MAyIH3kXWkM,2023-06-16T09:31:57Z,What this Salah goal meant to Klopp! #shorts,"['Jurgen Klopp', 'Klopp', 'Mohamed Salah', 'Mo...",PT12S,130057,5145,46
2,2,twmLtygXxCk,2023-06-15T15:01:21Z,Footballers with GENIUS vision! | Best Premier...,"['assists', 'assist', 'football assists', 'soc...",PT19M32S,138819,2818,200
3,3,2_8cReiBhbY,2023-06-15T13:00:01Z,When you try to guess the answer early... ü§¶‚Äç‚ôÇÔ∏è...,"['premier league', 'premier league highlights'...",PT15S,131036,4431,32
4,4,EvROzQeMee8,2023-06-15T09:32:25Z,Mohamed Salah doesn‚Äôt miss! #shorts,"['Mohamed Salah', 'Mo Salah', 'Salah', 'Liverp...",PT25S,668155,31307,209

In [401]:
df = df.drop(['Unnamed: 0'], axis=1) #drop unncessary columns

df['publishedAt'] = pd.to_datetime(df['publishedAt'].str[:10]) #modify publishedAt column data type

df['tags'] = df['tags'].str.strip('[]').str.strip("''").str.split("', '") #modify tags column data type

df['duration'] = df['duration'].str[2:] #modify duration column to seconds column

df['hours'] = pd.Series(np.int64(np.zeros(df.shape[0])))
df.loc[df['duration'].str.contains('H'), 'hours'] = df['duration'].str.split('H').str[0]
df['hours'] = df['hours'].astype('int64')
df['duration'] = df['duration'].str.split('H').str[-1]

df['minutes'] = pd.Series(np.int64(np.zeros(df.shape[0])))
df.loc[df['duration'].str.contains('M'), 'minutes'] = df['duration'].str.split('M').str[0]
df['minutes'] = df['minutes'].astype('int64')
df['duration'] = df['duration'].str.split('M').str[-1]

df['seconds'] = pd.Series(np.int64(np.zeros(df.shape[0])))
df.loc[df['duration'].str.contains('S'), 'seconds'] = df['duration'].str.split('S').str[0]
df['seconds'] = df['seconds'].astype('int64')

df['seconds'] = df['hours'] * 3600 + df['minutes'] * 60 + df['seconds']
df = df.drop(['duration', 'hours', 'minutes'], axis=1)

df.head()

,videoId,publishedAt,title,tags,viewCount,likeCount,commentCount,seconds
0,DPHJ2UL5B8s,2023-06-16,First & Last Goals Scored Under LEGENDARY Prem...,"[legendary Premier League managers, Premier Le...",29396,833,46,524
1,MAyIH3kXWkM,2023-06-16,What this Salah goal meant to Klopp! #shorts,"[Jurgen Klopp, Klopp, Mohamed Salah, Mo Salah,...",130057,5145,46,12
2,twmLtygXxCk,2023-06-15,Footballers with GENIUS vision! | Best Premier...,"[assists, assist, football assists, soccer ass...",138819,2818,200,1172
3,2_8cReiBhbY,2023-06-15,When you try to guess the answer early... ü§¶‚Äç‚ôÇÔ∏è...,"[premier league, premier league highlights, pr...",131036,4431,32,15
4,EvROzQeMee8,2023-06-15,Mohamed Salah doesn‚Äôt miss! #shorts,"[Mohamed Salah, Mo Salah, Salah, Liverpool, Li...",668155,31307,209,25

In [402]:
df.describe()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   videoId       500 non-null    object
 1   publishedAt   500 non-null    datetime64[ns]
 2   title         500 non-null    object
 3   tags          500 non-null    object
 4   viewCount     500 non-null    int64
 5   likeCount     500 non-null    int64
 6   commentCount  500 non-null    int64
 7   seconds       500 non-null    int64
dtypes: datetime64[ns](1), int64(4), object(3)
memory usage: 31.4+ KB